@model Workforce_Silver_Snakes.Models.ComputerAddEmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card border-success mb-3" style="max-width: 45rem;">
    <div class="card-header">
        <h4>Add Computer</h4>
    </div>
        <div class="row card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PurchaseDate" class="control-label"></label>
                        <input asp-for="PurchaseDate" class="form-control" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Make" class="control-label"></label>
                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" asp-items="@Model.EmployeeOptions" class="form-control"></select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
        <div class="cardButtons">
            <a asp-action="Index" class="cardButtonIcon" type="button" data-toggle="tooltip" data-placement="right" title="Back To List" data-original-title="Back To List">
                <img src="~/Icons/list.svg" />
            </a>
        </div>
       </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
