@model Workforce_Silver_Snakes.Models.ViewModels.EmployeeAddViewModel

@{
    ViewData["Title"] = "AssignTrainingPrograms";
}

<h1>AssignTrainingPrograms</h1>

<h4> @Model.FirstName </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignTrainingPrograms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingPrograms" class="control-label"></label>
                <select asp-for="TrainingPrograms" asp-items="@Model.TrainingProgramsOptions" class="form-control">
                    <option selected disabled>Please select a computer</option>
                </select>
                <span asp-validation-for="TrainingPrograms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
