@model Workforce_Silver_Snakes.Models.ViewModels.DepartmentsViewModel

@{
    ViewData["Title"] = "Create";
}


    <div class="card border-success mb-3" style="max-width: 45rem;">
        <div class="card-header">
            <h4>Add Department</h4>
        </div>
            <div class="row card-body">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Budget" class="control-label"></label>
                            <input asp-for="Budget" class="form-control" />
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="cardButtons">
                        <a asp-action="Index" class="cardButtonIcon" type="button" data-toggle="tooltip" data-placement="right" title="Back To List" data-original-title="Back To List">
                            <img src="~/Icons/list.svg" />
                        </a>
                    </div>
                </div>
            </div>

          

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
